<h1>Willkommen bei GOrg</h1>
<form class="login-form" layout="row" layout-align="center center">
    <mat-form-field>
        <input matInput required name="userName" placeholder="E-Mail Adresse"  [(ngModel)]="userName">
    </mat-form-field>

    <mat-form-field>
        <input matInput required name="password" type="password" placeholder="Passwort" [(ngModel)]="password">
    </mat-form-field>

    <button (click)="login()" mat-raised-button color="primary">Anmelden</button>
</form>