<h2>{{learngroup.name}}</h2>

<h3>Mitglieder</h3>
<table *ngIf="membershipsLoaded" mat-table [dataSource]="learngroup && learngroup.memberships" class="mat-elevation-z8">
    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element"> {{element?.user?.userName}}</td>
        <td mat-footer-cell *matFooterCellDef> {{learngroup?.memberships?.length}} Mitglieder</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Vorname</th>
        <td mat-cell *matCellDef="let element"> {{element?.user?.firstName}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Nachname</th>
        <td mat-cell *matCellDef="let element"> {{element?.user?.lastName}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="membershipStartDate">
        <th mat-header-cell *matHeaderCellDef>Mitglied seit</th>
        <td mat-cell *matCellDef="let element"> {{element?.startDate | date}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedMembershipColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedMembershipColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedMembershipColumns"></tr>
</table>

<h3>Geplante Veranstaltungen</h3>
<table *ngIf="eventsLoaded" mat-table [dataSource]="events" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Veranstaltung</th>
        <td mat-cell *matCellDef="let element"> {{element.topic}}</td>
        <td mat-footer-cell *matFooterCellDef> {{events.length}} Veranstaltungen</td>
    </ng-container>
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Datum</th>
        <td mat-cell *matCellDef="let element"> {{element?.startDate | date}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Ort</th>
        <td mat-cell *matCellDef="let element"> {{element?.location?.city}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ort</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon [routerLink]="['/event', element?.id]">edit</mat-icon>
            <mat-icon (click)="deleteEvent(element?.id)">delete</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedEventColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedEventColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedEventColumns"></tr>
</table>

<h3>Aufgaben</h3>
<div class="tasks">
    <div>
        <mat-icon>person_add</mat-icon>
        <span class="aligned-with-icon">Miglied einladen</span>
    </div>
    <div>
        <mat-icon>notes</mat-icon>
        <span class="aligned-with-icon">Bescheinigung erstellen</span>
    </div>
    <div>
        <span [routerLink]="['/event/create', learngroup.id]">
            <mat-icon>calendar_today</mat-icon>
            <span class="aligned-with-icon">Neuen Termin erstellen</span>
        </span>
    </div>
    <div>
        <mat-icon>folder_open</mat-icon>
        <span class="aligned-with-icon">Dateien</span>
    </div>
</div>
