h3 {
    margin-top: calc(2em / 1.17);
    margin-bottom: calc(2em / 1.17);
}

h4 {
    font-weight: bold !important;
}

.aligned-with-icon {
    position: relative;
    top: -5px;
    left: 5px;
}

.wrapper > div {
    padding: 10px;
    width: calc(50% - 20px);
    float: left;
}

table {
    margin-top: 2em;
    margin-bottom: 2em;
}

table, .tasks {
    width: 100%;
}

.mat-header-cell {
    font-size: 1em;
    font-weight: bold;
}

.mat-footer-cell {
    font-weight: bold;
}

.tasks > div {
    padding: 5px;
}

.tasks span,
mat-icon {
    cursor: pointer;
}