<h2>Veranstaltung</h2>

<form class="event-form" *ngIf="event">
    <mat-form-field>
        <input matInput required name="eventTitle" placeholder="Titel" [(ngModel)]="event.topic">
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker3" name="startDate" placeholder="Startdatum" required
               [(ngModel)]="event.startDate">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput required name="startTime" placeholder="Startuhrzeit"
               [ngModel]="event.startDate | date:'HH:mm'"
               (ngModelChange)="setTime($event)">
    </mat-form-field>
    <button (click)="save()" mat-raised-button color="primary">Speichern</button><br>
    <button (click)="delete()" *ngIf="event.id" mat-raised-button color="primary">Löschen</button>
</form>