<mat-nav-list>
  <mat-list-item [routerLink]="['/learngroup', learngroup.id]" *ngFor="let learngroup of learngroups">
    <mat-icon>{{learngroup.icon}}</mat-icon>
    {{learngroup.name}}
  </mat-list-item>
</mat-nav-list>